.aside .logo a::before {
  border-top: 4px solid #ec1839;
  border-left: 4px solid #ec1839;
}

.aside .logo a::after {
  border-right: 4px solid #ec1839;
  border-bottom: 4px solid #ec1839;
}

.aside .nav li a:hover,
.aside .nav li a.active,
.about .about-content .about-text h3 span {
  color: #ec1839;
}

.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a,
.section-title h2::before,
.section-title h2::after,
.btn,
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot {
  background-color: #ec1839;
}
